/*Fonts*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');  
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #fff;
}
/*Hero Styles*/
    #hero{
        height: 60vh;
        background-image: url('../assets/img/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero__container{
        color: #fff;
        padding: 15px;
    }
    .hero__title{
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-weight: 700;
    }
    .hero__subtitle{
        font-style: italic;
        letter-spacing: 2px;
    }
    .hero__subtitle--icon{
        font-style: normal;
    }
        /*Querys IPAD*/
            @media screen and (min-width: 768px) {
                #hero{
                    height: 70vh;
                    background-position: center;
                }
                .hero__container{
                    padding: 15px 50px;
                }
            }
        /*Querys DESKTOP*/
            @media screen and (min-width: 992px) {
                #hero{
                    height: 100vh;
                }
                .hero__container{
                    padding: 15px 80px;
                }
                .hero__title{
                    font-size: 50px;
                    letter-spacing: 10px;
                }
                .hero__subtitle{
                    font-size: 20px;
                }
            }

/*About Styles*/
    #about{
        background-color: #fff;
        padding-bottom: 50px;
    }
    .about__container{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about__img{
        width: 200px;
        padding: 20px;
        border-radius: 40px;
    }
    .about__title{
        font-weight: 200;
    }
    .about__text--container{
        display: flex;
        flex-direction: column;
    }
    .about__hr{
        margin: 20px 0;
        width: 200px;
        align-self: center;
        border: 1px solid #30bac8;
    }

    /*Query IPAD*/
        @media screen and (min-width: 768px) {
            .about__img{
                width: 250px;
            }
            .about__title{
                font-size: 28px;
            }
            .about__p{
                margin-top: 20px;
                width: 75vw;
                line-height: 30px;
            }
        }
        /*Query DEKSTOP*/
            @media screen and (min-width: 992px) {
                .about__container{
                    flex-direction: row;
                    justify-content: center;
                    gap: 30px;
                }
                .about__img{
                    width: 250px;
                }
                .about__title{
                    font-size: 35px;
                }
                .about__hr{
                    width: 300px;
                }
                .about__p{
                    font-size: 18px;
                    width: 60vw;
                    text-align: justify;
                }
            }
/*Experience*/
    #experience{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .experience__title{
        text-align: center;
        font-weight: 300;
    }
    .experience__hr{
        margin: 20px 0;
        width: 250px;
        align-self: center;
        border: 1px solid #30bac8;
    }
    .experience__container{
        margin: 50px 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .experience__card{
        background: rgba( 48, 186, 200, 0.45 );
        backdrop-filter: blur( 11px );
        -webkit-backdrop-filter: blur( 11px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 50vw;
        padding: 45px;
        margin: 5px;
    }
    .experience__card--title{
        color: #fff;
        font-size: 16px;
    }
    .experience__card--date{
        font-style: italic;
        font-weight: 200;
        padding-top: 5px;
        color: #4f4f4f;
    }
    .experience__card--hr{
        margin: 10px 0px;
        border: 1px solid #fff;
    }
    .experience__card--desc{
        font-size: 15px;
    }
    /*Query IPAD*/
        @media screen and (min-width: 768px) {
            .experience__hr{
                width: 300px;
            }
            .experience__title{
                font-size: 28px;
            }
            .experience__card--title{
                font-size: 20px;
            }
        }

    /*Query DESKTOP*/
        @media screen and (min-width: 992px) {
            .experience__container{
                justify-content: center;
            }
            .experience__card{
                width: 350px;
            }
            .experience__card--title{
                font-size: 22px;
            }
            .experience__hr{
                width: 400px;
            }
            .experience__title{
                font-size: 35px;
            }
            .experience__card--desc{
                font-size: 16px;
            }
        }